extends layout
block content
  #banner.page-header 
    .row 
      .col-lg-6 
        h1 
          | MekanBul 
          small &nbsp; Civardaki mekanları keşfet!
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Starbucks
          small &nbsp;
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 10km
        p.address Centrum Garden AVM
        p 
          span.label.label-warning Dünya Kahveleri
          | &nbsp;
          span.label.label-warning Pastalar
          | &nbsp;
          span.label.label-warning Soğuk içecekler
        | &nbsp;
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Miniso
          small &nbsp;
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 10km
        p.address Centrum Garden AVM
        p 
          span.label.label-warning Peluş ayılar
          | &nbsp;
          span.label.label-warning Çiçekler 
          | &nbsp;
          span.label.label-warning Çikolata
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Alina Sushi
          small &nbsp;
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 10km
        p.address Centrum Garden AVM
        p 
          span.label.label-warning Sushi
          | &nbsp;
          span.label.label-warning Onigiri
          | &nbsp;
